table {
    border-collapse: collapse;
    width:100%;
    margin: auto;
    text-align: center;
}

td, th {
    border: 1px solid darkgray;
    text-align: center;
    padding: 4px;
}

tr:nth-child(even) {
    background-color: darkgray;
}
